@font-face {
  font-family: 'PTSans-regular';
  src:  url('../assets/fonts/dinpro/PTSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSans-bold';
  src:  url('../assets/fonts/dinpro/PTSans-Bold.ttf') format('truetype');
}

